  <table>
  <tbody>
<tr>

<td><h2>title</h2>
<p><%= @books.title %></p></td>



<td><h2>body</h2>
<p><%= @books.body %></p></td>

</tr>

<div>
  <%= flash[:notice] %>
</div>




</tbody>
</table>


  <table>
  <tbody>

<tr>

<td><%= link_to "Edit", edit_book_path(@books.id) %></td>
<td><%= link_to "Back", books_path %></td>
   </tr>
</tbody>
</table>